body{
	background-image: url(../images/starfield.jpg);
	background-size: cover;
	background-color: black;
	background-position: -20% left;
	background-attachment: fixed;
	background-repeat: no-repeat;


	color: $white;
	font-family: "proxima-nova-alt";
}

a:hover{
	text-decoration: none;
}

h2{
	text-transform: uppercase;
	color: $brand-secondary;
	font-size: 2.4rem;
	font-weight: 300;
}

.listing-block{
	@include make-sm-column(4);
	margin-bottom: 15px;

	.inner{
		display: block;
		@include ep-panel-bg();
		padding: 10px;

		h3{
			margin-top: 0;
			margin-bottom: 5px;
			font-size: 1.8rem;

		}

		img{
			margin-bottom: 15px;
		}

		.listing-item-description{
			color: white;
			font-size: 1.6rem;
		}

		&:hover{
			cursor: pointer;
			h3{

			}
		}
	}
}

.masonrywrapper {
  padding-left:0;
  padding-right:0;
  // background: green;


}

.img-responsive-grow{
	@extend .img-responsive;
	min-width: 100%;
}