// .embed-container {
//   position: relative;
//   padding-bottom: 56.25%;
//   height: 0;
//   overflow: hidden;
//   max-width: 100%;
// }
// .embed-container iframe,
// .embed-container object,
// .embed-container embed {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }



.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  margin-bottom: 20px;

   iframe,
   object,
   embed,
    {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}


.alert-label{
  color: red;
  font-size: 1.3rem;
  padding: 10px;
  border: 1px solid red;
  text-align: center;
}

body{
  // background-image: url(../images/starfield.jpg);
  background-size: cover;
  background-color: black;
  background-position: -20% left;
  background-attachment: fixed;
  background-repeat: no-repeat;


  color: $white;
  font-family: $font-family-sans-serif;
}

hr{
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid $brand-secondary;
  // @include make-sm-column(12);
  @extend .clearfix;
}

.brand{
  position: absolute;
  top: 50px;
  left: 15px;
  height: 40px;
  img{
    display: block;
    @extend .img-responsive;
  }
}

a:hover{
  text-decoration: none;
}


.wrap{
  a:visited{
    color: $color-link-visited !important;
    h3{
      color: $color-link-visited !important;
      &:hover{
        color: $brand-primary !important;
      }
    }
    &:hover{
      color: $brand-primary !important;
    }
  }
}

h1,h2,h3,h4,h5{
  &.centered{
    text-align: center;
  }
}

h2{
  text-transform: uppercase;
  color: $brand-secondary;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 40px;
}

.page-header{
  border-bottom: 1px dotted $brand-secondary;
  h1,h2{
    font-size: 3rem;
    color: $brand-secondary;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}


.masonrywrapper{

}

.listing-block{
  @include make-sm-column(6);
  @include make-md-column(4);
  @include make-lg-column(4);
  @media (max-width: $screen-xs-max){
    width: 100%;
  }

  margin-bottom: 30px;

  &.feat{
    @include make-sm-column(12);
    @include make-md-column(8);
    @include make-lg-column(8);
  }

  .inner{
    position: relative;
    display: block;
    @include ep-panel-bg();
    padding: 10px;

    h3{
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 1.8rem;
      color: $brand-primary !important;
    }

    img{
      margin-bottom: 15px;

    }

    .listing-item-description{
      color: white;
      font-size: 1.6rem;
    }

    &:hover{
      cursor: pointer;
      h3{
        color: darken($brand-primary,10%) !important;
      }
      img{
        opacity: .8;
      }

      .type-label{
        background: $brand-secondary;
        color: $gray-dark;
      }
    }
  }

  .type-label{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 5px 2px 5px;
    background: rgba($gray-dark , .8);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $brand-secondary;
    -webkit-box-shadow: -3px 3px 6px 0 rgba(0,0,0,0.3);
    box-shadow: -3px 3px 6px 0 rgba(0,0,0,0.3);
  }

}




.listing-block-linear{
  @extend .listing-block;
  @include make-sm-column(12);
  @include make-md-column(12);
  @include make-lg-column(12);

  margin-bottom: 15px;

  .wrap-inner{
    @include ep-panel-bg();
    @include make-row();
  }

  .inner{
    &.left{
      position: relative;
      @include make-sm-column(6);
      background: none;
    }
    &.right{
      position: relative;
      @include make-sm-column(6);
      background: none;
    }
    img{
      margin: 0;
    }
    padding: 15px;

    .listing-item-description{
      font-size: 1.6rem;
    }
    h3{
      font-size: 2rem;
    }
  }
}



.masonrywrapper {
  padding-left:0;
  padding-right:0;
  // background: green;


}

.img-responsive-grow{
  @extend .img-responsive;
  min-width: 100% ;
}



.thumb-bordered{
  @extend .img-responsive-grow;
  @include ep-panel-bg();
  padding: 10px;
}


.masonrywrapper,
.linearwrapper{
  ul{
    padding: 0;
    // @include make-sm-column(12);
    @extend .clearfix;
  }
}

.alm-btn-wrap{
  display: block;
  width: 100%;
  text-align: center;
  border-top: 1px dotted $brand-secondary !important;
  padding-top: 20px;
  margin-bottom: 100px;

  button.alm-load-more-btn{
    display: inline-block;
    width: auto;
    border: none;
    text-transform: uppercase;
    background: rgba($brand-primary,1);
    color: $white;
    padding: 8px 8px 5px 8px;

    &:hover{
      background: $brand-secondary;
    }

    &.done{
      background: #666;
      opacity: .3;
      &:hover{
        cursor: not-allowed;
      }
    }

  }
}


.datestring{
  margin-top: -7px;
  margin-bottom: 10px;
  color: $brand-secondary;

}


.related-listing{
  h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .related-media-item{
    @extend .listing-block;
    @include make-sm-column(12);
    text-align: center;
    h3{
      line-height: 1.2em;
    }

  }

}


.page{
  .entry-content{
    @extend .clearfix;
    padding: 15px;
    background: rgba(0,0,0,0.3);
  }
}

.single-post{
  article{
    padding: 15px;
    background: rgba(0,0,0,0.3);

    .entry-content{
      img{
        @extend .img-responsive-grow;
        margin-top: 30px;
      }
    }
  }

  section.comments{
    border-top: 1px dotted $brand-secondary;
    margin-top: 30px;
    padding-top: 30px;
    h2{
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 1.8rem;
    }
  }

  .comment-list{
    article{
      background: none;
      border: 1px solid rgba($brand-secondary,.2);
      margin-bottom: 10px;

      // img{
      //   display: inline-block;
      //   width: auto !important;
      //   height: auto !important;
      // }
    }
  }
}