.alert-label{
  color: red;
  font-size: 1.3rem;
  padding: 10px;
  border: 1px solid red;
  text-align: center;
}

body{
  background-image: url(../images/starfield.jpg);
  background-size: cover;
  background-color: black;
  background-position: -20% left;
  background-attachment: fixed;
  background-repeat: no-repeat;


  color: $white;
  font-family: "proxima-nova-alt";
}



.brand{
  position: absolute;
  top: 50px;
  left: 15px;
  height: 40px;
  img{
    display: block;
    @extend .img-responsive;
  }
}

a:hover{
  text-decoration: none;
}

h1,h2,h3,h4,h5{
  &.centered{
    text-align: center;
  }
}

h2{
  text-transform: uppercase;
  color: $brand-secondary;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 20px;
}

.masonrywrapper{

}

.listing-block{

  @include make-sm-column(6);
  @include make-md-column(4);
  @include make-lg-column(4);
  @media (max-width: $screen-xs-max){
    width: 100%;
  }



  margin-bottom: 30px;

  &.feat{
    @include make-sm-column(12);
    @include make-md-column(8);
    @include make-lg-column(8);
  }

  .inner{
    position: relative;
    display: block;
    @include ep-panel-bg();
    padding: 10px;

    h3{
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 1.6rem;

    }

    img{
      margin-bottom: 15px;

    }

    .listing-item-description{
      color: white;
      font-size: 1.6rem;
    }

    &:hover{
      cursor: pointer;
      h3{

      }
      img{
        opacity: .8;
      }

      .type-label{
        background: $brand-secondary;
        color: $gray-dark;
      }
    }
  }

  .type-label{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 5px 2px 5px;
    background: rgba($gray-dark , .8);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $brand-secondary;
    -webkit-box-shadow: -3px 3px 6px 0 rgba(0,0,0,0.3);
    box-shadow: -3px 3px 6px 0 rgba(0,0,0,0.3);
  }
}

.masonrywrapper {
  padding-left:0;
  padding-right:0;
  // background: green;


}

.img-responsive-grow{
  @extend .img-responsive;
  min-width: 100% !important;
}



.thumb-bordered{
  @extend .img-responsive-grow;
  @include ep-panel-bg();
  padding: 10px;
}


