.eg-footer{
  margin-top: 70px;
  // min-height: 50px;
  padding: 40px;
  color: rgba($brand-secondary,.5);
  background: rgba(#000,.6);
  text-align: center;

  // -webkit-box-shadow: 0 -20px 20px 0 rgba(0,0,0,0.5);
  box-shadow: 0 -10px 50px 0 rgba(0,0,0,0.5);
}